/* css boiler plate code */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

}

/**************************/



h1{ /*****targets all h1 in the doc*************/
    color: red

}

/***box= div *****************/
/***jaha bhi ek se jaada elements dikhe waha div h*****************/
/***jaha bhi rectangle h waha div h***********************/


/******ek box banao jo red ho ********************/
/*
steps : 
1. create a div in html
2. target the div in css using class, id or element and give w h 
3. give color to the div
*/

.main {
    width : 300px;
    height: 300px;
    background-color: red;

}

/**
h1 - tag
.h1 - class
#h1 - id

**/

/*
color and background-color
*/
h1{ /*****targets all h1 in the doc*************/
    color: red;
    background-color: black;


}

.main2{
    width: 300px;
    height: 300px;
    background-color: blue;
}

.main3{
    width: 50%;
    height: 50%;
    background-color: green;
}

.practice{
    width: 600px;
    height: 200px;
    background-color: yellow;
    overflow: hidden;
}
#child{
    width: 100vw;
    height: 100vh;
    background-color: pink;
}

.em {
    font-size: 16px;
    width: 20em;
    height: 20em;
    background-color: red;
}


html{
    font-size: 20px;
}
.rem{
    width: 2rem;
    height: 2rem;
    background-color: blue;
}


.maxmin{
    min-width: 100px;
    width: 1200px; /*doesnt matter how much ever you give, it stays the same as max width */
    max-width: 500px;
    height: 200px;
    background-color: black;
}
